body{
background-color: #9966cc;
}

 h1{
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
text-align: center;
font-size: 25px;
}


p{
color: white ;
font-family: ;
font-size:larger;



}