body{
background-color: #66cccc;
}

 h1{
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
font-size: 80px;
}


p{
color: white ;
font-family: ;
font-size: 80px;



}